<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head.ejs') %>
  <body>
    <%- isLoggedIn && userType=='Driver' ? include('layouts/authnavbar.ejs') :
    include('layouts/navbar.ejs') %>
    <header class="masthead" style="background-color: gray">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>License G</h1>
              <span class="subheading">All about License G.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <form action="/g/fetch" method="POST" class="mb-4">
            <div class="input-group">
              <input
                type="text"
                name="licenseNo"
                class="form-control"
                placeholder="Enter License Number"
                aria-label="Enter License Number"
                aria-describedby="button-addon2"
              />
              &nbsp;
              <button class="btn btn-primary" type="submit" id="button-addon2">
                Fetch Data
              </button>
            </div>
          </form>
        </div>
      </div>
    </div> -->
    <!-- Card for displaying G2 license details -->

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <% if(isLoggedIn==true){ %>
              <h5 class="card-title">
                <%= g2Details.firstName + " " + g2Details.lastName %>
              </h5>
              <p class="card-text">
                Model: <%= g2Details.carDetails.make + " " +
                g2Details.carDetails.model %>
              </p>
              <p class="card-text">Year: <%= g2Details.carDetails.year %></p>
              <% } else{ %>
              <h1>No Details Found</h1>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End of card section -->
    <%- include('layouts/footer.ejs') %> <%- include('layouts/scripts.ejs') %>
  </body>
</html>
