<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head.ejs') %>
  <body>
    <%- isLoggedIn && userType=='Driver' ? include('layouts/authnavbar.ejs') :
    include('layouts/navbar.ejs') %>
    <header class="masthead" style="background-color: gray">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-12">
            <div class="page-heading">
              <h1>License G2</h1>
              <span class="subheading">All about License G2.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <!-- G2 Registration Form Column -->
          <div class="col-md-6">
            <section>
              <h2>Personal Information</h2>
              <!-- G2 Registration Form -->

              <form
                id="g2Form"
                method="POST"
                action="/g2/register"
                class="row g-3"
              >
                <div class="col-md-6">
                  <label for="firstName" class="form-label">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    placeholder="Enter your first name"
                    required
                  />
                </div>
                <div class="col-md-6">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                    placeholder="Enter your last name"
                    required
                  />
                </div>
                <div class="col-12">
                  <label for="licenseNumber" class="form-label"
                    >License Number (8 characters alphanumeric)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="licenseNo"
                    name="licenseNo"
                    placeholder="Enter your license number"
                    required
                  />
                </div>
                <div class="col-md-6">
                  <label for="age" class="form-label">Age</label>
                  <input
                    type="number"
                    class="form-control"
                    id="age"
                    name="age"
                    placeholder="Enter your age"
                    required
                  />
                </div>
                <div class="col-md-6">
                  <label for="dob" class="form-label">Date of Birth</label>
                  <input type="date" class="form-control" id="dob" required />
                </div>
                <div class="col-12">
                  <hr class="my-4" />
                  <h2 class="mb-3">Car Information</h2>
                </div>
                <div class="col-md-6">
                  <label for="make" class="form-label">Make</label>
                  <input
                    type="text"
                    class="form-control"
                    id="make"
                    name="make"
                    placeholder="Enter car make"
                    required
                  />
                </div>
                <div class="col-md-6">
                  <label for="model" class="form-label">Model</label>
                  <input
                    type="text"
                    class="form-control"
                    id="model"
                    name="model"
                    placeholder="Enter car model"
                    required
                  />
                </div>
                <div class="col-md-6">
                  <label for="year" class="form-label">Year</label>
                  <input
                    type="number"
                    class="form-control"
                    id="year"
                    name="year"
                    placeholder="Enter car year"
                    required
                  />
                </div>
                <div class="col-md-6">
                  <label for="plateNumber" class="form-label"
                    >Plate Number</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="platNo"
                    name="platNo"
                    placeholder="Enter car plate number"
                    required
                  />
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </section>
          </div>

          <div class="col-md-6">
            <section>
              <h2>Appointment Selection</h2>
              <form
                id="appointmentForm"
                method="POST"
                action="/g/getAppointments"
              >
                <div class="form-group">
                  <label for="appointmentDate">Select Date:</label>
                  <input
                    type="date"
                    class="form-control"
                    id="appointmentDate"
                    name="appointmentDate"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary mt-3">
                  Submit
                </button>
              </form>

              <div class="mt-4">
                <h2>Available Appointments</h2>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Book</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% appointments.forEach(function(appointment) { %>
                      <tr class="<%= appointment.isSlotAvailable ? '' : 'disabled-row' %>">
                        <td><%= appointment.date %></td>
                        <td><%= appointment.time %></td>
                        <td>
                          <form method="POST" action="/g/bookAppointment" class="d-inline">
                            <input type="hidden" name="appointmentId" value="<%= appointment._id %>"/>
                            <button type="submit" class="btn btn-primary" <%= appointment.isSlotAvailable ? '' : 'disabled' %>>Book</button>
                          </form>
                        </td>
                      </tr>
                    <% }); %>
                  </tbody>
                  
                </table>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
    <%- include('layouts/footer.ejs') %> <%- include('layouts/scripts.ejs') %>
  </body>
</html>
