<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head.ejs') %>
  <body>
    <% if (isLoggedIn) { %> <% if (userType == 'Admin') { %> <%-
    include('layouts/adminNavbar.ejs') %> <% } else if (userType == 'Driver') {
    %> <%- include('layouts/authnavbar.ejs') %> <% } else { %> <%-
    include('layouts/navbar.ejs') %> <% } %> <% } else { %> <%-
    include('layouts/navbar.ejs') %> <% } %>
    <header class="masthead" style="background-color: gray">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>Drive Test 🍁</h1>
              <span class="subheading">DriveTest Booking Kiosk.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 align-content-center justify-content-center">
        Welcome to DriveTest Booking Kiosk. DriveTest is the only official
        provider of driver examination services in Ontario. We are committed to
        providing the highest level of customer service and support to our
        clients. We are here to help you book your G2 and G road tests. We also
        provide information on the requirements for each test. Please select the
        test you would like to book below.
      </div>
    </div>
    <%- include('layouts/footer.ejs') %> <%- include('layouts/scripts.ejs') %>
  </body>
</html>
