<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head.ejs') %>
  <body>
    <%- include('layouts/navbar.ejs') %>
    <header class="masthead" style="background-color: gray">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>Drive Test 🍁</h1>
              <span class="subheading">DriveTest Booking Kiosk.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <% for(var i=0; i < g2Registrations.length; i++) { %>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                <%= g2Registrations[i].carDetails.make %>
              </h2>
              <h3><%= g2Registrations[i].carDetails.model %></h3>
              <h3 class="post-subtitle">
                <%=g2Registrations[i].firstName + " " +
                g2Registrations[i].lastName %>
              </h3>
            </a>
            <p class="post-meta">
              License No: <%= g2Registrations[i].licenseNo %>
              <br />
            </p>
          </div>
          <% } %>
          <hr class="my-4" />
        </div>
      </div>
    </div>
    <%- include('layouts/footer.ejs') %> <%- include('layouts/scripts.ejs') %>
  </body>
</html>
